.sec_title {
    text-align: center;
    padding: 0px 0px 70px;
    color: black;
    margin-bottom: 20px;
}
.chose_demo_area {
    padding-top: 30px;
}
.chose_demo_inner:first-child {
    margin-top: 0px;
}
.chose_demo_inner {
    position: relative;
    z-index: 3;
    padding: 50px;
    margin-top: 100px;
}
.chose_demo_inner:nth-child(odd):before {
    right: 0;
}
.chose_demo_inner:before {
    content: "";
    background: #0081ff;
    position: absolute;
    top: 0px;
    width: 50%;
    z-index: -1;
    height: 100%;
}
.container:before {
    display: table;
    content: " ";
}
.demo_item {
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    position: relative;
    z-index: 3;
}
.protImg {
    width: 100%;
}
.chose_demo_inner:nth-child(2):before {
    content: "";
    background: #ed3851;
    position: absolute;
    top: 0px;
    width: 50%;
    z-index: -1;
    height: 100%;
    left: 0px;
}
.chose_demo_inner:nth-child(3):before {
    content: "";
    background: #673ab7;
    position: absolute;
    top: 0px;
    width: 50%;
    z-index: -1;
    height: 100%;
}
.element {
    right: 0;
    position: absolute;
}
.element_2 {
    left: 0;
    float: left;
    margin-left: -75px;

}
.demo_item h2 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #4a4545;
    padding-top: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.describtion li {
    font-size: 19px;
    font-weight: 500;
    text-align: justify;
    padding: 6px;
    color: white;
}
.effectProject{
    height: 50px;
    width: 50px;
    border: 5px solid #ed3851;
    border-radius: 50%;

}
